# 1. Extraccion de datos

In [7]:
import pandas as pd
from IPython.display import display


url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

df1 = pd.read_csv(url)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)
df4 = pd.read_csv(url4)

tiendas = [(1,df1),(2,df2),(3,df3),(4,df4)]
pd.set_option('display.float_format', '{:,.2f}'.format)  # Mostrar números sin notación científica

#1. Análisis de facturación

In [8]:
from operator import index


def ingresos_tienda(lista):
    ingresos = []
    
    for i in lista:
        ingreso = i[1]['Precio'].sum()
        ingresos.append({'tienda:':i[0],'Ingreso total($)':round(ingreso,2)})
    
    df_ingresos = pd.DataFrame(ingresos)
    display(df_ingresos)

ingresos_tienda(tiendas)

   tienda:  Ingreso total($)
0        1  1,150,880,400.00
1        2  1,116,343,500.00
2        3  1,098,019,600.00
3        4  1,038,375,700.00

# 2. Ventas por categoría

In [9]:
def vta_categoria(lista):
    for i in lista:
        print(f'-----------------------------------Tienda {i[0]}------------------------------------------')
        df = i[1].groupby('Categoría del Producto')['Producto'].count().reset_index(name='Cantidad')
        venta_por_categoria = df.sort_values(by="Cantidad", ascending=False).reset_index(drop=True)
        print(venta_por_categoria)
        print(f'--------------------------------Total de ventas--------------------------------------')
        total = venta_por_categoria['Cantidad'].sum()
        print('Ventas totales:', total)
    return ''

In [10]:
print(vta_categoria(tiendas))

-----------------------------------Tienda 1------------------------------------------
    Categoría del Producto  Cantidad
0                  Muebles       465
1             Electrónicos       448
2                 Juguetes       324
3        Electrodomésticos       312
4     Deportes y diversión       284
5   Instrumentos musicales       182
6                   Libros       173
7  Artículos para el hogar       171
--------------------------------Total de ventas--------------------------------------
Ventas totales: 2359
-----------------------------------Tienda 2------------------------------------------
    Categoría del Producto  Cantidad
0                  Muebles       442
1             Electrónicos       422
2                 Juguetes       313
3        Electrodomésticos       305
4     Deportes y diversión       275
5   Instrumentos musicales       224
6                   Libros       197
7  Artículos para el hogar       181
--------------------------------Total de ventas--------------------------------------
Ventas totales: 2359
-----------------------------------Tienda 3------------------------------------------
    Categoría del Producto  Cantidad
0                  Muebles       499
1             Electrónicos       451
2                 Juguetes       315
3        Electrodomésticos       278
4     Deportes y diversión       277
5                   Libros       185
6  Artículos para el hogar       177
7   Instrumentos musicales       177
--------------------------------Total de ventas--------------------------------------
Ventas totales: 2359
-----------------------------------Tienda 4------------------------------------------
    Categoría del Producto  Cantidad
0                  Muebles       480
1             Electrónicos       451
2                 Juguetes       338
3     Deportes y diversión       277
4        Electrodomésticos       254
5  Artículos para el hogar       201
6                   Libros       187
7   Instrumentos musicales       170
--------------------------------Total de ventas--------------------------------------
Ventas totales: 2358

# 3. Calificación promedio de la tienda

In [63]:
def calificacion(lista):
    for tienda in lista:
        tienda_id, df = tienda # Desempaquetamos cada tupla (tienda_id, df)
        promedio =float(round(df['Calificación'].mean(),2))
        print(f'Promedio de Calificación de la tienda{tienda_id}: {promedio}')

In [64]:
calificacion(tiendas)

Promedio de Calificación de la tienda1: 3.98
Promedio de Calificación de la tienda2: 4.04
Promedio de Calificación de la tienda3: 4.05
Promedio de Calificación de la tienda4: 4.0

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda